<div class="page-header">
  <h1>Upload <small>your music</small></h1>
</div>

<div class="form-group">
  <input type="hidden" name="user_id" value="<%= $('.wrapper').attr('data-user-id') %>">
  <input type="hidden" class="img_url" name="image_url" value="">
  <input type="hidden" class="thumb_url" name="thumbnail_url" value="">
  <input type="hidden" class="img_width" name="image_width" value="">
  <input type="hidden" class="img_height" name="image_height" value="">
  <input type="hidden" class="song_url" name="audio_file_name" value="">
  <label for="title">Title</label>
  <input type="text" name="title" class="form-control" id="title" value="<%=song.escape('title')%>" placeholder="Song Title">
</div>
<div class="form-group">
  <label for="description">Description</label>
  <textarea class="form-control" name="description" rows="3" id="description" placeholder="Description"><%=song.escape('description')%></textarea>
</div>

<div class="form-group">
  <label for="description">Tags</label>
  <textarea class="form-control" rows="2" name="tags" id="tags" placeholder="Song tags"></textarea>
</div>
<div class="form-group">
  <a href="#" id="upload_widget_opener">Upload Image</a>
</div>
<div class="form-group hidden-div" style="display: none">
  <img class="hidden-img" src="" style="display: none">
</div>
<div class="form-group">
  <a href="#" id="upload_song_file">Upload Song</a>
</div>

<button type="submit" class="btn btn-default" style="margin-bottom: 90px;">Submit</button>
