<div class="songs-list-wrapper">
  <h1>Songs</h1>

  <ul class="songs-list list-group">
  <% songs.each(function(song) { %>
    <li class="list-group-item"><%= song.escape("title") %></li>
    <li class="list-group-item"><%= song.escape("description") %></li>
  <% }) %>
  </ul>
</div>
