<div class="songs-list-wrapper">
  <div class="page-header">
    <h1>Songs <small>all of em'</small></h1>
  </div>

  <ul class="songs-list list-group">
  <% songs.each(function(song) { %>
    <li class="list-group-item"><a href="#/songs/<%=song.id%>"><%= song.escape("title") %></a></li>
    <li class="list-group-item"><%= song.escape("description") %></li>
  <% }) %>
  </ul>
</div>
