<div class="song-show page-header">
  <h1><%= song.escape('title') %> <small><%= song.escape('description') %></small></h1>
  <img class="song-show-image" src="<%=song.escape('image_url')%>" alt="<%= song.escape('title') artwork">
  <audio controls class="song-show-player">
    <source src="" type="audio/mp4">
      Your browser does not support the audio element.
    </audio>
</div>
