/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 /* Import additional scss files */
 @import "stream";
 @import "sessions";
 @import "songs";
 @import "users";

/* All Root Page CSS */

 * {
   padding: 0px;
   margin: 0px;
   border: 0px;
 }

 body {
   background-color: #ECF0F1;
 }

 .navbar{
   -o-transition: background-color 0.5s;
   -webkit-transition: background-color 0.5s;
   -moz-transition: background-color 0.5s;
   -ms-transition: background-color 0.5s;
   transition: background-color 0.5s;
 }

 .navbar:hover{
   background-color: #E74C3C;
   border-color: #E74C3C;
 }

 .navbar:hover a{
   color: black;
 }

 .navbar:hover li a{
   color: black;
 }

 a:hover {
   text-decoration: none;
   opacity: 1.0;
 }

 a:hover h1,h2,h3,h4{
   opacity: 1.0;
 }

 h1, h2, h3, h4 {
   display: block;
   opacity: 0.8;
   color: #E74C3C;
   transition: font-size .25s ease, padding .25s ease, margin .25s ease;
 }

 h1:hover{
   opacity: 1.0;
 }

 .img-rounded{
   transition: width .25s ease, height .25s ease;
   height: 90%;
   box-shadow: 4px 4px 10px #aaaaaa;
 }

 .img-rounded:hover{
  height: 95%;
 }

 div.wrapper{
   margin: 0 auto;
 }

 div.profile-info{
   padding-top: 90px;
 }

 div.page-header{
   text-align: center;
 }

 div.content{
   margin-top: 90px;
 }


 form.navbar-left {
   width: 100px;
 }

.songs-list-wrapper{
  margin-top: 51px;
  padding-top: 20px;
}

img {
  height: 100px;
  margin: 5px 10px;
}

img.img-responsive{
  height: 200px;
  display: block;
  margin: 20px auto;
}

ul.profile-list.list-group{
  padding-bottom: 10px;
}

.edit{
  margin-bottom: 80px;
}

.subscribe{
  margin-bottom: 80px;
}

div.page-header{
  margin-top: 81px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

div.page-header h1{
  text-align: center;
}


li.link:hover{
  opacity: 1.0;
  color: black;
}

.navbar-link:hover{
  opacity: 1.0;
  color: black;
}

.navbar-brand img{
  box-shadow: none;
}

div.songs{
  height: 100%;
  border-right: 1px solid lightgrey;
}

.scrollup{
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  right: 20px;
  display: none;
  font-size: 20pt;
  text-align: center;
}

.profile-img:hover{
  opacity: 0.6;
}
