/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 /* Import additional scss files */
 @import "sessions";
 @import "songs";

/* All Root Page CSS */

 * {
   padding: 0px;
   margin: 0px;
   border: 0px;
 }

 div.wrapper{
   max-width: 960px;
   margin: 0 auto;
 }

 form.navbar-left {
   width: 100px;
 }

.songs-list-wrapper{
  margin-top: 51px;
  padding-top: 20px;
}

img {
  height: 100px;
  margin: 5px 10px;
}

audio{
  width: 500px;
}

img.img-responsive{
  height: 200px;
  display: block;
  margin: 20px auto;
}
