/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 /* Import additional scss files */
 @import "sessions";
 @import "songs";

/* All Root Page CSS */

 * {
   padding: 0px;
   margin: 0px;
   border: 0px;
 }

 body {

 }

 h1, h2, h3, h4 {
   opacity: 0.8;
   color: #a80bef;
 }

 div.wrapper{
   margin: 0 20px;
   margin-bottom: 90px;
  //  background-image: asset-url('HMsJMTw.png');
  //  background-repeat: repeat;
 }

 div.foreground-content{
   background-image:asset-url('arpeggio_sign_in.png');
   background-position:center;
   height: 589px;
   width: 500px;
   margin: 0 auto;
 }

 audio.song-show-player-footer{
   margin-top: 10px;
   display: block;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   width: inherit;
 }

 form.navbar-left {
   width: 100px;
 }

.songs-list-wrapper{
  margin-top: 51px;
  padding-top: 20px;
}

.list-group-item{
  background-color:rgba(255,255,255,0.5);
}

img {
  height: 100px;
  margin: 5px 10px;
}

img.img-responsive{
  height: 200px;
  display: block;
  margin: 20px auto;
}

ul.profile-list.list-group{
  padding-bottom: 10px;
}

.edit{
  margin-bottom: 80px;
}

.subscribe{
  margin-bottom: 80px;
}

div.page-header{
  margin-top: 81px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

div.page-header h1{
  text-align: center;
}


div.profile-info{
  width: 30%;
  display: block;
  float: left;
  margin: 0 20px;
  margin-bottom: 90px;
}

div.content{
  width: 60%;
  display: block;
  float: left;
}

div.songs{
  width: 70%;
  display: block;
  float: left;
}

div.people{
  width: 30%;
  display: block;
  float: right;
  text-align: center;
}
