div.song-show h1{
  width: 1000px;
}

form.song-new{
  margin-top: 81px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

audio.song-show-player{
  margin-top: 10px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

.song-show-image{
  height: 300px;
  margin: 20px auto;
  position: relative;
  display: block;
}

div.song-show{
  margin-bottom: 100px;
}
