<div class="page-header">
  <h1><%= profile.escape('first_name') %> <small><%= profile.escape('last_name') %></small></h1>
</div>
<img src="<%= profile.escape('gravatar_url') %>" class="img-responsive" alt="Responsive image">
